@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'League Spartan', sans-serif;
    padding:0 10%;
  
    .logo{
          font-size:16px;
    }

}