
//primary colors
$p-cyan: hsl(180, 66%, 49%);
$p-dark-violet: hsl(257, 27%, 26%);

//secondary colors
$Red: hsl(0, 87%, 67%);


//neutral colors
 $n-Gray: hsl(0, 0%, 75%);
$n-Grayish-Violet: hsl(257, 7%, 63%);
$n-Very-Dark-Blue: hsl(255, 11%, 22%);
$n-Very-Dark-Violet: hsl(260, 8%, 14%);